*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background: #ffffff;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 20px;
}
.main{
  background-color: #ffffff;
  width: 700px;
  padding: 20px;
}
.article{
  border: 4px inset rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #ffffff;
  padding: 20px;
}
ul{
  padding: 10px;
  list-style: disc;
}
.articleImg{
  padding: 10px;
  width: 95%;
}
.dark{
  background: #2e2424;
  color: #ffffff
}

.dark .main,
.dark .article {
  background: #2e2424;
  color: white;
}